<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        CARD
      </mat-panel-title>
      <mat-panel-description>
        Type your name and age
        <mat-icon>chrome_reader_mode</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-miscelaneo></app-miscelaneo>

  </mat-expansion-panel>


  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Menu
      </mat-panel-title>
      <mat-panel-description>
        Inform the date you wish to travel
        <mat-icon>menu</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-menu></app-menu>
  </mat-expansion-panel>


  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Stepper
      </mat-panel-title>
      <mat-panel-description>
        Type your name and age
        <mat-icon>receipt</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-stepper></app-stepper>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Table
      </mat-panel-title>
      <mat-panel-description>
        Type your name and age
        <mat-icon>view_quilt</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

 

  </mat-expansion-panel>

</mat-accordion>